*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	
}


ul{list-style:none;}
a {text-decoration: none;}
img {
	width:150px;
	height:150px;
}
/*end reset*/
body{
	padding: 30px;
    background: #59CCB3;
    background-size: cover;
   font-family: 'Raleway', sans-serif;
}
.wrap {
    width: 80%;
    margin: 0 auto;
}
/*--profile start here--*/
.heading-1 {
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 1.2;
}
h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
}
.profile-main {
    background: url(../images/1.png) no-repeat 0px 0px;
	background-size:cover;
    width: 45%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.profile-pic {
    margin: 0 0 1em 0;
    text-align: center;
}
.profile-pic img {
    border:4px solid #fff;
    border-radius: 82px;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.profile-pic h2 {
    font-size: 2em;
    color: #474544;
    margin-bottom: 0.1em;
}
.profile-pic p {
    font-size: 1em;
    color:#4E4E4E;
}
.wthree_tab_grid_sub {
    margin: 1em 0 0 0;
}
.wthree_tab_grid_sub_left {
	float: left;
    width: 26.2%;
    padding: .5em;
    text-align: center;
    background: #d3aefe;
}
.wthree_tab_grid_sub_left h5 {
    font-size: 1.5em !important;
    color: #fff !important;
    font-weight: 700;
}
.wthree_tab_grid_sub_left p {
	color: #fff !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.wthree_tab_grid_sub_left:nth-child(2) {
    margin: 0 1em;
}
.w3-message,.w3ls-touch{
    padding: 1em;
    box-shadow: 0 0px 1px rgba(197, 197, 197, 0.19),0 1px 2px rgba(0, 0, 0, 0.24);
    background: #fff;
}
.w3-message h5,.w3ls-touch h5{
	color:#474544;
	font-size:1.5em;
	margin:0;
}
.w3-message p{
	color:#c5b7b7;
	font-size:16px;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.w3ls-touch{
	margin:1em 0 0 0;
}
.social {
	margin: 1em 0 0 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
    display: block;
	margin:1em 0 0 0;
}
.social ul li:nth-child(1){
	margin:0;
}
.social ul li a {
	color: #333;
    text-align: center;
}
.social ul li a i.fa.fa-facebook,.social ul li a i.fa.fa-twitter,.social ul li a i.fa.fa-linkedin,.social ul li a i.fa.fa-google-plus{
    height: 40px;
    width: 40px;
    background: none;
    line-height: 40px;
    border: solid 2px #FFF;
    color: #FFF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social ul li a i.fa.fa-facebook {
	background: #3b5998;
}
.social ul li a i.fa.fa-twitter{
	background: #1da1f2;
}
.social ul li a i.fa.fa-linkedin{
	background: #0077b5;
}
.social ul li a i.fa.fa-google-plus{
	background: #dd4b39;
}
.social ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
    color: #3b5998;
	background:none;
}
.social ul li a i.fa.fa-twitter:hover{
	border: solid 2px #1da1f2;
    color: #1da1f2;
	background:none;
}
.social ul li a i.fa.fa-linkedin:hover{
	border: solid 2px #0077b5;
    color: #0077b5;
	background:none;
}
.social ul li a i.fa.fa-google-plus:hover{
	border: solid 2px #dd4b39;
    color: #dd4b39;
	background:none;
}
.social ul li a p{
    color: #212121;
    font-size: 16px;
    margin: 0 0 0 1em;
    font-weight: 400;
    display: inline-block;
}
.wthree_footer_copy{
	text-align:center;
}
.wthree_footer_copy p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.wthree_footer_copy p a{
	color:#FFFFFF;
	text-decoration:none;
}
.wthree_footer_copy p a:hover{
	color:#212121;
}
/*-- responsive --*/
@media(max-width:1440px){
	.wthree_tab_grid_sub_left {
		width: 25.2%;
	}
}
@media(max-width:1280px){
	.profile-main {
		width: 43%;
	}
}
@media(max-width:1080px){
	body {
		padding: 10px;
	}
	.wrap {
		width: 100%;
	}
	.profile-main {
		width: 100%;
	}
}

@media(max-width:600px){
	.profile-main {
		background: url(../images/1.png) no-repeat -100px 0px;
		background-size: cover;
	}
	.social ul li a p {
		font-size: 13px;
	}
}


@media(max-width:320px){
	h1 {
		font-size: 1.5em;
	}
	.wthree_tab_grid_sub_left {
		width: 21.5%;
	}
	.wthree_tab_grid_sub_left p {
		font-size: .8em !important;
	}
	.profile-main {
		background: url(../images/1.png) no-repeat -173px 0px;
		background-size: cover;
	}
}
/*-- //responsive --*/